# Compiled class files
*.class

# Maven target directory
target/

# IntelliJ IDEA project files
.idea/

# Eclipse project files
.classpath
.project
.settings/

# Gradle files
.gradle/
build/

# Logs and temporary files
log/
temp/

# IDE-specific files
.vscode/
*.iml
*.ipr
*.iws

# Dependency lock files
maven.lock
gradle.lock

# macOS-specific files
.DS_Store

# Windows-specific files
Th

.game_files
*.zip
